<div class="bg-img">
    <form  >
   
     <div class="container">
       <h1 style=" color: white" >Register</h1>
       <p style=" color: white">Please enter the details to create an account.</p>
       <hr>
       <label for="firstname"><b>First Name</b></label>
       <input type="text" placeholder="Enter First Name" name="firstname" id="firstname" required>
    
       <label for="lastname"><b>Last Name</b></label>
       <input type="text" placeholder="Enter Last Name" name="lastname" id="lastname" required>
       
       <label for="adminId"><b>Admin Id</b></label>
       <input type="text" placeholder="Enter Email" name="adminId" id="adminId" required>
   
   
       <label for="psw"><b>Password</b></label>
       <input type="password" placeholder="Enter Password" name="psw" id="psw" pattern="(?=.\d)(?=.[a-z])(?=.*[A-Z]).{8,}"
       title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 or more characters" required>
   
       <label for="psw-repeat"><b>Repeat Password</b></label>
       <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
   
       <p>Note this is an admin login page. If you have encountered this page by mistake kindly close it. <a href="#">Terms & Privacy</a>.</p>
       <button type="submit" class="registerbtn">Register</button>
     </div>
   
     <div class="container signin">
       <p style="color:black">Already have an account? <a href="#">Sign in</a>.</p>
     </div>
   </form>
   </div>
   