<html>
  <body>
<head>
  
   
<title>UDAAN AIRLINES</title>


</head>

<header>
<div class="nav" >
  <div class="logo">
    <img src="assets/images/planelogo.PNG">
  </div>
  <ul>
<li><a routerLink="/searchflight"> Search Flight </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li><a routerLink="/login" > User Login </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li><a routerLink="/register"> Register </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li><a routerLink="/adminlogin"> Admin Login </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
  </ul>

</div>
<div class="title">
  <h1>UDAAN AIRLINES</h1>
</div>

<div class="button">
  <a href="#" class="btn">WATCH US</a>&nbsp;&nbsp;
  <a href="#" class="btn">LEARN MORE</a>
</div>
</header>
<div>
  
 
  <router-outlet></router-outlet>
</div>



<div class="footer">  &copy;ALL RIGHTS RESERVED</div>

</body>
</html>