<div *ngIf="loggedin">
  <h3>{{name}}</h3>
  <button type="button" (click)="logout()">Logout</button>
  </div>

<div class="bg-img">
  <head>
SEARCH FLIGHT
  </head>
<form (ngSubmit)="getFlights()" method="POST">
<div class="search">
  

  <h1>SEARCH FLIGHT</h1>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
    
   
  

<div class="row">
  <div class="col-25"><br>
    <label for="source"><h3>SOURCE STATION</h3></label>
  </div>
    <div class="col-75">
    <input list="source" placeholder="From" name="source" [(ngModel)]=sp.source>
    <datalist id="source">
        <option value="Delhi">
        <option value="Mumbai">
        <option value="Chennai">
        <option value="Bangalore">
        <option value="Dehradun">
        <option value="Kolkata">
        <option value="Hyderabad">
        <option value="Chandigarh">
        <option value="Goa">
        <option value="Patna">
        <option value="Lucknow">
      </datalist>
      
    </div>
</div>
<div class="row">
  <div class="col-25"><br>
  <label for="destination"><h3>DESTINATION STATION</h3></label>
  </div>
  <div class="col-75">
    <input list="Destination" placeholder="To" name="destination" style="background-color:whitesmoke" [(ngModel)]="sp.destination">
    <datalist id="Destination">
    <option value="Delhi">
        <option value="Mumbai">
        <option value="Chennai">
        <option value="Bangalore">
        <option value="Dehradun">
        <option value="Kolkata">
        <option value="Hyderabad">
        <option value="Chandigarh">
        <option value="Goa">
        <option value="Patna">
        <option value="Lucknow">
        </datalist>

  </div>
</div>

<div class="row">
  <div class="col-25"><br>
    <label for="date"><h3>DATE</h3></label>
  </div>
    <div class="col-75">
    <input type="date" placeholder="From" name="dateOfFlight" style="background-color:whitesmoke" [(ngModel)]=sp.dateOfFlight>
 
    </div>
</div>
    
    <div class="row">
      <div class="col-25">
        <label for="numberOfPassengers"><h3>NUMBER OF PASSENGERS</h3></label>
      </div>
        <div class="col-75">
        <input type="number" name="numberOfPassengers" min="1" max = "6" [(ngModel)]=sp.numberOfPassengers>
        
  </div>
    </div>

    <div class="row">
      <div class="col-25">
        <br>
        <label for="cabin"><h3>CABIN</h3></label>
      </div>
        <div class="col-75">
    <input list="cabin" placeholder="Cabin" name="cabinSelected" [(ngModel)]=sp.cabinSelected><br><br>
    <datalist id="cabin">
        <option value="economy">
        <option value="business">
      </datalist>
    
      <br>
    </div>
  </div>
    <button type="submit" class = "him">Search</button> 
   
</div> 

</form>



<br>
<br>

<div class = "bing">

  <br>
  <br>
  <ng-template #elseBlock>No Flights on that date.</ng-template>
  <div *ngIf="data; else elseBlock" border="1" align="center">
    <div *ngFor="let d of data">
<div class="ticket">
<div class="row">
  <div class="column">
    <div class="card">Flight Number <br><br>{{ d.flightNumber }}<br><br><br><br></div><br>
  </div>
  <div class="column">
    <div class="card">Duration <br><br> {{ d.duration }} hr<br><br><br><br><br></div><br>
  </div>
  <div class="column">
    <div class="card">Departure Schedule<br><br> {{ d.departureSchedule }}<br><br><br></div>
  </div>
  <div class="column">
    <div class="card">Arival Schedule <br>&nbsp;&nbsp;<br> {{ d.arrivalSchedule }}<br><br><br><br></div>
  </div>
  <div class="column">
    <div class="card">Economy Fare <br>&nbsp;&nbsp;<br> {{ d.initialEconomyfare }}<br><br><br><br></div>
  </div>
  <div class="column">
    <div class="card">Business Fare <br>&nbsp;&nbsp;<br> {{ d.initialBusinessfare }}<br><br><br><br></div>
  </div>
  <div class="column">
    <div class="card"><button (click)= "selectFlight(d)" class="him2">Select Flight</button><br><br><br><br><br></div>
  </div>
</div>
  </div> 
  </div>
  </div>
    <br><br>
    <router-outlet></router-outlet>
    <br>
    <br>
</div>
</div>