<div class="bg-img">      
            <form (ngSubmit)="ticket()" method="POST" >
           
             <div class="container">
               <h1 style=" color: white" >Payment details</h1>
               <p style=" color: white">Enter payment details</p>
               <hr>
               <label for="cardNo"><b>Debit Card Number</b></label>
               <input type="text" placeholder="Enter Debit CardNo" required>
            
               <label for="expiry"><b>Expiry Date</b></label>
               <input type="text" placeholder="Enter Expiry Date"  required>
               
               <label for="CVV"><b>CVV</b></label>
               <input type="password" placeholder="Enter CVV" required>
           
           
             
           
               <p>Do not refresh the page <a href="#">Terms & Privacy</a>.</p>
               <button type="submit" class="registerbtn">Pay</button>
             </div>
           
             
           </form>
           </div>