* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
  width:  20%;
  float: center;
  background-color: black;
  opacity: 80%;
  color: white;

  
}
.disp {
  border-collapse: collapse;
  width: 70%;
 border-style: ridge;
  margin-left: 140px;
 background: rgb(224, 234, 255);
 font-family: "Times New Roman", Times, serif;
 border-radius: 25px;

}

.bor
{
    background-color: rgb(0, 140, 255);
    border-radius: 45px;

    border-bottom-style: ridge;
}

.bg-img {
    /* The image used */
    background-image: url("src/assets/images/paybg.png");
    background-size: cover;
    background-repeat: no-repeat
  }

/* Full-width input fields */
input[type=text], input[type=password], input[list=title], input[type=date], input[type=tel] {
  width: 100%;
  padding: 15px;
 
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
