<div *ngIf="loggedin">
  <h3>{{name}}</h3>
  <button type="button" (click)="logout()">Logout</button>
  </div>
<div class="bim">
<br>
<div class="disp">

  <div class="bor">
    <br>
    <br>
  </div>
  <h2>&nbsp; 
     {{ d.flightNumber }}
     &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
      {{sp.source}}
      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;     &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
        {{sp.destination}} &nbsp;    &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
      {{fare}}₹
  </h2>
  <h3>&nbsp; 
      {{sp.cabinSelected }}
      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
      {{ d.departureSchedule.toString() }}
       &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;     &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
       {{ d.arrivalSchedule }}&nbsp;    &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
       {{d.duration}} Hrs
   </h3> 
      
   <h4 *ngFor="let x of len">
    &nbsp;Passenger No:{{ x }}  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
    &nbsp; {{ pass[x].name }} &nbsp;    &nbsp;  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;      &nbsp;   &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;  Age: {{ pass[x].age }}&nbsp;    &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp;   &nbsp;     &nbsp;    &nbsp; &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp;    &nbsp;   &nbsp; &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;&nbsp;  &nbsp;
   
    Seat No: {{selectedSeats[x]}}
    </h4>

    <h2 class="same">   &nbsp;    &nbsp;  &nbsp;  PNR Number: {{pnr.pnrGenerated}}</h2> &nbsp;    &nbsp;  &nbsp;   &nbsp;    &nbsp;  &nbsp;   &nbsp;    &nbsp;  &nbsp;   &nbsp;    &nbsp;  &nbsp;   &nbsp;    &nbsp;  &nbsp; 
      <h4 class = "same" style=" color:red;
    font-family: Times New Roman, Times, serif; "> <i> Gate closes 40 minutes before boarding time.</i></h4>


   
</div>
<br>

<b style="padding-left: 40%;">Print this and use as ticket</b>
<br>
<br>
</div>
