<h3>Flight Details</h3>

<table  border="1" align="center">
    <tr>
      <th>Flight Number</th>
      <th>Duration</th>
      <th>Departure Schedule</th>
      <th>Arival Schedule</th>
      
      
    </tr>
    <tr>
      <td>{{ d.flightNumber }}</td>
      <td>{{ d.duration }}</td>
      <td>{{ d.departureSchedule }}</td>
      <td>{{ d.arrivalSchedule }}</td>
      </tr>
      
  </table>

<br>
<h3>Your PNR is {{pnr.pnrGenerated}}</h3>
<br><br>
<h3>Passenger Details</h3>
  <table  border="1" align="center" style="text-align: center;">
    <tr>
      <th>Passenger Name</th>
      <th>Passenger Age</th>
      <th>Passenger Seat No.</th>
   
      
      
    </tr>
    <tr  *ngFor="let x of len">
      <td>{{ pass[x].name }}</td>
      <td>{{ pass[x].age }}</td>
      <td>{{ selectedSeats[x] }}</td>
       </tr>
      
  </table>
  
  <h5>Print this page as your ticket.</h5>